* {
    font-family: 'Courier New', Courier, monospace;
}

h1 {
    margin-bottom: 0%;
    font-size: 5vw;
}

h2 {
    margin-inline-start: 0.83em;
    margin-inline-end: 0.83em;
    font-size: 3vw;
}

h3 {
    margin-inline-start: 0.83em;
    margin-inline-end: 0.83em;
    font-size: 1.5vw;
}

p {
    margin-inline-start: 1em;
    margin-inline-end: 1em;
    font-size: 2vw;
}

body {
    margin: 0%;
    background-color: rgb(202, 58, 58);
}

.de, .pl, .about-me {
    display: none;
}

.language > p:hover, .portabout:hover {
    color: blueviolet;
}

.language {
    position: fixed;
    display: flex;
    flex-direction: row-reverse;
    width: 100%;
}

.content {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.con {
    height: 70%;
}

.con, .portfolio {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.portfolio {
    align-items: flex-start;
}

.break {
  flex-basis: 100%;
  height: 0;
}

.not-bold {
    font-weight: normal;
}

.port-el {
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.thin {
    width: 70%;
    font-weight: normal;
}